/* .jimu-widget-demo div:first-child{ */
  /* color: red; */
/* } */

.jimu-widget-locateroute .locateroute-tab-header{
  position: absolute;
  /* display: inline-block; */
  width: 100%;
  height: 30px;
  left: 0;
  right: 0;
  top: 0;
  font-size: 14px;
}

.jimu-widget-locateroute .search-node.default-width-for-openAtStart{
	width: 274px;
}

.searchLocate{
  display: inline-block; 
}
.arcgisSearch{
  float: left!important;
}
.LocateButton{
  float: right!important;
  margin-left: 10px;
  margin-top: 1px;
}

.dijitSlider{
  margin-top: 50px!important;
}

.headrow {
  background-color: #7f807e;
}
.headdatalabel {
  color: #fff;
  padding: 2px 0px 5px 10px;
  font-size: 14px;
}

.routemainbox {
  border: 1px solid #d8d8d8;
  height: 90px;
  width: 100%;
  margin: 3px 0px;
}
.routenamebox {
  float: left;
  height: 100%;
  text-align: center;
  width: 39%;
  padding: 10px 0px;
}
.routename {
  font-size: 16px;
  font-weight: bold;
}
.navbutton {
  text-align: center;
  cursor: pointer;
}
.navbuttontitle {
  margin: auto;
  color: rgb(66, 66, 66);
  text-transform: uppercase;
  font-size: 9px;
  display: block;
  font-weight: 700;
  cursor: default;
}
.uproutebox1 {
  float: left;
  height: 100%;
  width: 61%;
  border-left: 1px solid #d8d8d8;
  background-color: #f2f2f2;
}
.uproutebox1 > .routecolor {
  background-color: #044476;
  color: #fff;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
}
.uproutebox2 {
  float: left;
  height: 100%;
  width: 61%;
  border-left: 1px solid #d8d8d8;
  background-color: #f2f2f2;
}

.uproutebox2>.routecolor {
  background-color: #66c300;
  color: #fff;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
}
.uproutebox3 {
  float: left;
  height: 100%;
  width: 61%;
  border-left: 1px solid #d8d8d8;
  background-color: #f2f2f2;
}

.uproutebox3>.routecolor {
  background-color: #c0b700;
  color: #fff;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
}
.routetype {
  text-transform: uppercase;
  margin: 2px 5px;
}
.distancebox {
  text-align: justify;
  height: 24px;
  line-height: 24px;
  margin-top: 5px;
  padding-left: 5px;
}
.distance {
  font-size: 12px !important;
  color: #000 !important;
  font-weight: 700 !important;
  margin: 0px !important;
}
.timebox {
  font-size: 12px !important;
  text-align: justify;
  height: 18px;
  line-height: 18px;
  padding-left: 5px;
  margin-top: -4px;
  font-weight: 700 !important;
}
.time {
  font-size: 11px;
}
.driving-row-heading {
  height: 28px;
  line-height: 28px;
  margin: 0px;
  font-size: 12px;
  background-color: #1d528b;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.driving-row-heading-cell {
  padding-left: 5px;
}
.driving-row {
  border-bottom: 1px dotted #dcdcdc;
  height: 28px;
  line-height: 28px;
  margin: 0px;
  font-size: 12px;
  color: #6b6b6b;
  cursor: pointer;
}
.routecheckbox {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 3px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}
/* Hide default HTML checkbox */

.switch input {
  display: none;
}


.smalllabel {
  font-size: 12px;
  /*float: left;*/
  margin-top: 2px;
  margin-left: 40px;
  margin-right: 10px;
}

.togglebox {
  margin-top: 5px;
  text-align: right;
  padding-right: 10px;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2e3192;
}

input:checked+.slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.routeLegend {
  width: 30%;
  height: 5px;
  line-height: 34px
}

.resulttable {
    width: 100%;
    border-collapse: collapse;
    margin-top:10px;
}

.resulttable > tbody > tr > td {
    padding: 5px;
    min-width:50%;
}
.listlbl{
    font-weight:bold;
    font-size:14px;
}
.results table{
    background: #fafafa;
    margin-top: 10px;
    border: 1px solid #22d57f;
    cursor:pointer;
}
.results table:hover{
    background: #eff6d5;
}
.results table td{
    padding:2px 0px;
    vertical-align:top;
}