#main-loading{
	background:url('images/loadingbackground.jpg');
    background-size:cover;
	position:relative;
}
#main-loading #app-loading{
	position: absolute;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-loading #loading-gif{
	position: absolute;
	background-image: url('images/Wedges-3s-70px.gif');
	background-repeat: no-repeat;
	width:70px;
	height:70px;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}
