#main-loading{
	background:url('images/loadingbackground.jpg');
    background-size:cover;
	position:relative;
	background-position: top center;
}
@media screen and (max-width:500px){
	#main-loading{
		background:url('images/LoadingScreenMobile.jpg');
		background-size:cover;
		position:relative;
		background-position: center center;
	}
	#main-loading #loading-gif{
		position: absolute;
		background-image: url('images/Wedges-3s-70px.gif');
		background-repeat: no-repeat;
		width:50px;
		height:50px;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
#main-loading #app-loading{
	position: absolute;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-loading #loading-gif{
	position: absolute;
	background-image: url('images/Wedges-3s-70px.gif');
	background-repeat: no-repeat;
	width:70px;
	height:70px;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}
