.searchLocate {
    display: inline-block;
}

.arcgisSearch {
    float: left!important;
    padding-bottom: 15px !important;
}

.LocateButton {
    float: right!important;
    margin-left: 10px;
    margin-top: 1px;
}

.view {
    margin-top: 15px !important;
    padding-bottom: 15px !important;
}

.searchText {
    padding-bottom: 15px !important;
    font-size: 14px;
    text-align: left;
}

.divContent {
    margin-left: 15px !important;
}


/* add additional custom styles */

.resulttable {
    width: 100%;
    border-collapse: collapse;
}

.resulttable td {
    padding: 5px;
}

.heading {
    background: #f9f9f9;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

.resultitem {
    font-size: 18px;
    font-weight: bold;
    color: #22d17c;
}

.resultlablebig {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.resultlablesmall {
    font-style: italic;
    font-size: 12px;
    margin: 0px 5px;
}

.resultimage {
    width: 300px;
    height: 200px;
    margin: auto;
}

.excellent {
    background-image: url(../images/excellent.png);
}

.good {
    background-image: url(../images/good.png);
}

.avrg {
    background-image: url(../images/average.png);
}

.notfeasible {
    background-image: url(../images/notfeasible.png);
}